
/* common css */

body {
    background: #f8f9fa;
    position : relative;
}

/* header css */

header .nav-layout {
    margin-left: 48px;
}

/* section common */

section {
    background: white;
}

/* section-1 css */

section .description {
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    background-color: rgb(222,244,254);
    margin-top:50px;
}

section .title-box {
    width: 50%;
    border: 3px solid white;
    display: inline-block;
    border-radius: 12px;
    margin: 48px 0px 48px 0px;
   
}

.title-box .description-title {
    font-weight: bold;
    color:grey;
    margin-top: 40px;
}
.title-box .description-sub {
    margin: 18px 0px 40px 0px;
    color:grey;
}

.page-header{
    margin-top:35px;
    padding-top:35px;
    padding-bottom:20px;
}
.page-footer{
    margin-top:40px;
}

@media (max-width: 767.98px) { 
    #service div:first-child{
        order: 2;
    }
    #service div:last-child{
        order: 1;
    }
    #title::after{
        display: block;
        content : "Timotae";
    }
    #Introduce img{
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
   
}


@media (min-width: 768px) { 
    #title::after{
        display: inline;
        content : "티모테 - 티끌 모아 태산";
    }
 }
