
/* common css */

body {
    background: #f8f9fa;
    position : relative;
}

/* header css */

header .nav-layout {
    margin-left: 48px;
}

/* section common */

section {
    background: white;
}

/* section-1 css */

section .description {
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    background-color: rgb(222,244,254);
    margin-top:50px;
}

section .title-box {
    width: 50%;
    border: 3px solid white;
    display: inline-block;
    border-radius: 12px;
    margin: 48px 0px 48px 0px;
   
}
mark {
    background-color : rgb(222,244,254);
}

#Contributor {
    margin-top: -40px;
    padding-top : 10px;
}

#date {
    width : 80px;
    text-align : center;
    margin-top : 30px;
}
#list {
    display:table;
    width:100%;
    height:auto;
    border-bottom : 2px dotted gainsboro;
    padding-bottom : 20px;
    
}

#Greeting {
    text-align : left;
    
}
.title-box .description-title {
    font-weight: bold;
    color:grey;
    margin-top: 40px;
}
.title-box .description-sub {
    margin: 18px 0px 40px 0px;
    color:grey;
}

.page-header{
    margin-top:35px;
    padding-top:35px;
    padding-bottom:20px;
}
.page-footer{
    margin-top:40px;
}
#carouselExampleIndicators{
    margin: 0px auto;
    max-width: 700px;
}
/*화살표 그림자
.carousel-control-prev  {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);

}
.carousel-control-next{
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
*/
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%235882FA' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%235882FA' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
  }
  
.carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 15px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(63, 49, 185) \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(63,49,185);
    border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  background-color: rgb(179, 209, 255);
}
#select{
    margin-right: 10px;
}
/*
#navbar-example2 > .nav-pills{
    float:right;
}
*/
@media (max-width: 767.98px) { 
    #service div:first-child{
        order: 2;
    }
    #service div:last-child{
        order: 1;
    }
    #title::after{
        display: block;
        content : "Timotae";
    }
    #Introduce img{
        width:70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}


@media (min-width: 768px) { 
    #title::after{
        display: inline;
        content : "티모테 - 티끌 모아 태산";
    }
    
 }

 @media (min-width: 991.98px){
    #table > tbody > tr > td > #big::after{
        content: ", ";
        width: auto;        
    }
    #table > tbody > tr > td > div > #big::after{
        content: ", ";
        width: auto;        
    }
    #table tbody tr td div{
        display: inline;
        width: auto;        
    }
 }
 @media(max-width: 992px){
    #table tr td div{
        display: block;
    }
 }