
/* common css */

body {
    background: #f8f9fa;
    position : relative;
}

/* header css */

header .nav-layout {
    margin-left: 48px;
}

/* section common */

section {
    background: white;
}

/* section-1 css */

section .description {
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    background-color: rgb(223,237,223);
    margin-top:50px;
}

section .title-box {
    width: 50%;
    border: 3px solid white;
    display: inline-block;
    border-radius: 12px;
    margin: 48px 0px 48px 0px;
   
}

.title-box .description-title {
    font-weight: bold;
    color:grey;
    margin-top: 40px;
}
.title-box .description-sub {
    margin: 18px 0px 40px 0px;
    color:grey;
}

.page-header{
    margin-top:35px;
    padding-top:35px;
    padding-bottom:20px;
}
.page-footer{
    margin-top:40px;
}


@media(max-width: 978px) {

    
}

@media(min-width: 978px) {


}


@media (max-width: 575.98px) { 
    
    }
 

@media (min-width: 576px) and (max-width: 767.98px) { 
   
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 

 }


@media (min-width: 1200px) { 
    
 }